# Exploring Data with Pandas

## Learning objectives

* Understand the role of `pandas` in the Python ecosystem.
* Read a flat file (CSV) dataset into Python with `pandas`.
* Understand the basic features of a `DataFrame`.
* Employ slicing to select subsets of data from a `DataFrame`.
* Use label- and integer-based indexing to select ranges of data in a `DataFrame`.

## Introduction 

Data Scientists spend an incredible amount of time and skills acquiring, prepping, cleaning, and normalizing data. In this workshops, we'll review one of the most important tools used during this process, `pandas`. 

But first, let's review the differences between Data Acquisition, Preparation, and Cleaning.

### Data Acquisition

Many times, your data might be already given to you, in which case you won't have to worry about data acquisition. However, this is not always the case. The process of actually getting a dataset to work with is called **data acquisition**. For the purposes of this tutorial, we won't be providing an in-depth review of data acquisition methodology, but this should provide some context as to how `pandas` fits into the data science ecosystem. 

### Data Preparation

Now, once a dataset is acquired, it might not be in a suitable format to work with. In some cases, you might have scraped data from a website or simply downloaded a zipfile containing multiple CSV files. Luckily, `pandas` provides Python users with an important data type you can use to work with data in an easy manner. This process of converting data into a suitable format is called **data preparation**.


### Data Cleaning

Now that your data is being handled in a proper manner, your work with it still might not be done. You might have missing values, values that need normalizing, or values in the wrong data type. These inconsistencies that you fix before analysis refers to **data cleaning**.

## Pandas

Now that we've reviewed the process in which `pandas` fits in as a Python tool, we will begin to review pandas and its different capabilities. 

Pandas allows us to deal with data in a user-friendly way by providing with an important data type, referred to as a `DataFrame`, not otherwise available in Python. With `pandas` we can effortlessly import data from files such as CSVs into a DataFrame object, allowing us to quickly apply transformations, filters, and other data wrangling methodology to our data.

To begin this tutorial, we'll need to first import `pandas`. Typically, the shorthand alias used is `pd`.

In [1]:
import pandas as pd

## Series

Before we review the DataFrame object in `pandas`, we'll begin by reviewing the `series` data type. 

In its simplest form, a Series is a one-dimensional object containing an array of data. Below, you'll see that we use the `pandas.Series()` function to define an example containing 4 numbers. Notice that the input of this method *is* a Python list.

In [2]:
obj = pd.Series([4, 7, -5, 3])

Series are incredibly similar to your typical list in Python, however, it **is** distinctive, which we can display by printing the data type of the series below.

In [3]:
print(type(obj))

<class 'pandas.core.series.Series'>

The reason for this distinction is because `pandas` allows us to attach our own custom indices, as shown below

In [4]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
print(obj2)

d    4
b    7
a   -5
c    3
dtype: int64

You might be thinking, "is this not the same thing as a dictionary?", a fair question for anyone beginning to learn `pandas`. Now, the useful thing is that we can, indeed, easily convert a dictionary to a series, as you can see in the code below.

In [5]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)

But notice that if the actual object is printed, as well as its type, the format is much more readable with the series object. This is incredibly useful for when a user needs to visually interact with the data.

In [ ]:
print(type(sdata))

In [ ]:
print(sdata)

In [ ]:
print(type(obj3))

In [ ]:
print(obj3)

## DataFrames

Now that we've reviewed the simplest object in `pandas`, we're ready to tackle on the DataFrame object. A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.).

There are numerous ways to construct a DataFrame, though one of the most common is from a dict of equal-length lists.

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002], 'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = pd.DataFrame(data)
print(frame)

To select a single column, the syntax is treated the same way you would a dictionary, with brackets inside which contains the column name. 

It's important to note that DataFrames are actually a collection of `series`, which we can see is true when we index one of the columns and print its type.

In [ ]:
sel = frame['state']
print(type(sel))

## Challenge Question

True or False: Series and Dictionaries can converted to one another with one simple function call.

## CSV Files

It was briefly mentioned earlier that one of the advantages of Python is to easily convert a CSV file to a pandas DataFrame. 

Using [this](https://s3.amazonaws.com/assets.datacamp.com/production/course_1639/datasets/world_ind_pop_data.csv) csv file, which is population data from the World Bank, we'll use pandas to convert this file to a DataFrame -- all in two lines of code.

In [10]:
file = 'https://s3.amazonaws.com/assets.datacamp.com/production/course_1639/datasets/world_ind_pop_data.csv'
df = pd.read_csv(file)

As you can see above, we used the built-in pandas function, `read_csv()` to input the file into Python. Just to confirm that the file was properly converted into a DataFrame, let's take a look at what the data type is.

In [ ]:
print(type(df))

Previously, we used the `type()` method to check the data type of our converted CSV file, but `pandas` actually provides users with an `info()` function to display a concise summary of a given DataFrame. Let's take a look at what `pandas` has to say about the World Bank dataset.

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13374 entries, 0 to 13373
Data columns (total 5 columns):
CountryName                      13374 non-null object
CountryCode                      13374 non-null object
Year                             13374 non-null int64
Total Population                 13374 non-null float64
Urban population (% of total)    13374 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 522.5+ KB

The very first line, as you can see, tells us what type it is -- awesome. Additionally, we have useful information involving the size of the data, the data types of each column, and more. This is a wonderful substitute to having to call different methods like `len()`, `type()`, etc., on our DataFrame.

Unless you opened up the link provided above, you've likely not seen what the actual data looks like. To fix that, you can utilize another crucial method of `pandas` called `head()`. As default it prints the column names and the first five rows of the DataFrame you call the method on, but if you want to adjust the number, you can feed it whatever number you'd like.

In [ ]:
print(df.head())

In [ ]:
df.head(2)

On the opposite end, you can also display the last 10 rows of a given DataFrame as well, using the `tail()` method.

In [14]:
df.tail(10)

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
13364,Uruguay,URY,2014,3419516.0,95.152
13365,Uzbekistan,UZB,2014,30757700.0,36.278
13366,Vanuatu,VUT,2014,258883.0,25.817
13367,"Venezuela, RB",VEN,2014,30693827.0,88.941
13368,Vietnam,VNM,2014,90730000.0,32.951
13369,Virgin Islands (U.S.),VIR,2014,104170.0,95.203
13370,West Bank and Gaza,WBG,2014,4294682.0,75.026
13371,"Yemen, Rep.",YEM,2014,26183676.0,34.027
13372,Zambia,ZMB,2014,15721343.0,40.472
13373,Zimbabwe,ZWE,2014,15245855.0,32.501

Earlier in this tutorial, we selected a column from the DataFrame we built using a dictionary. The same can be done an **any** DataFrame, including those which began as a CSV file. With that said, we'll review an example by selecting the `Total Population` column from the World Bank dataset.

In [ ]:
print(df['Total Population'].head()) # called the head function so we don't have to view the entire column

Now that we've reviewed how to select columns from DataFrames, how do we go about selecting *rows* from a DataFrame? 

A simple way is to use the built-in `ix` function, which can take either a single parameter to select **1** row, or it can take in a range using list slicing rules you've seen in regular Python lists. 

Below we'll print 5 rows using this method:

In [ ]:
print(df.ix[0:4])

### Apply

Lets's generate a random dictionary:

In [ ]:
import numpy as np
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])

print(frame)

With this, we can apply a function on a DataFrame:

In [ ]:
np.abs(frame)

We can also apply functions with the `apply()` method:

In [ ]:
f = lambda x: x.max() - x.min()

print(frame.apply(f))

In [ ]:
f = lambda x: np.abs(x)

frame.apply(f)

print(frame)

## Challenge Question 

Does the `pandas.DataFrame.apply()` function modify the original DataFrame or return a new DataFrame?

#### Sorting

To sort lexicographically by row or column index, use the sort_index method, which returns a new, sorted object:

In [ ]:
frame.sort_index()

## Data Merging

If you encounter two different datasets that contain the same type of information, you might consider merging them for your analyses. This is yet another functionality built into `pandas`. 

Let's go through an example containing student data. `d1` contains 5 of the samples and `d2` contains 2 of them:

In [ ]:
d1 = pd.read_csv("./names_original.csv")
print(d1)

In [ ]:
print(type(d1))

In [ ]:
d2 = pd.read_csv("./names_add.csv")
print(d2)

### Concatenation 

Instead of working with two separate datasets, it's much easier to simply merge, so we do this with the `concat()` function:

In [ ]:
result = pd.concat([d1,d2])
print(result)

Now, you might be asking what will happen if one of the datasets has more columns than other - will they still be allowed to merge? Let's try this example with another dataset:

In [ ]:
d3 = pd.read_csv("./names_extra.csv")
print(d3)

If we use the same `concat()` function, we get:

In [ ]:
result1 = pd.concat([d1, d3])
print(result1)

Notice the `NaN` values - these are undefined values indicating there wasn't any data to be displayed. `pandas` will simply fill in the missing data for each sample where it's unavailable:

## Challenge Question

Does the `pandas.DataFrame.concat()` function modify a original DataFrame or return a new DataFrame?

### Merging

Now, how do we merge two datasets with differing columns? Well, let's take a look at our datasets:

In [ ]:
h1 = pd.read_csv("./housing.csv")
print(h1)

In [ ]:
h2 = pd.read_csv("./dorms.csv")
print(h2)

With the `merge()` function in pandas, we can specify which column to merge on and what kind of join to specify. By default merge does an 'inner' join, but here we set it to a left join:

In [ ]:
house = pd.merge(h1, h2, on="Dorm", how="left")
print(house)

## Challenge Question

Does the `pandas.DataFrame.merge()` function modify a original DataFrame or return a new DataFrame?

## Resources

[Pandas Learning Resources](https://chatbotslife.com/pandas-learning-resources-946540ba574e) <br>
[GeoPandas Tutorial](https://www.twilio.com/blog/2017/08/geospatial-analysis-python-geojson-geopandas.html)