# Exploring Data with Pandas

## Learning objectives

* Understand the role of `pandas` in the Python ecosystem.
* Read a flat file (CSV) dataset into Python with `pandas`.
* Understand the basic features of a `DataFrame`.
* Employ slicing to select subsets of data from a `DataFrame`.
* Use label- and integer-based indexing to select ranges of data in a `DataFrame`.

## Introduction 

Data Scientists spend an incredible amount of time and skills acquiring, prepping, cleaning, and normalizing data. In this workshops, we'll review one of the most important tools used during this process, `pandas`. 

But first, let's review the differences between Data Acquisition, Preparation, and Cleaning.

### Data Acquisition

Many times, your data might be already given to you, in which case you won't have to worry about data acquisition. However, this is not always the case. The process of actually getting a dataset to work with is called **data acquisition**. For the purposes of this tutorial, we won't be providing an in-depth review of data acquisition methodology, but this should provide some context as to how `pandas` fits into the data science ecosystem. 

### Data Preparation

Now, once a dataset is acquired, it might not be in a suitable format to work with. In some cases, you might have scraped data from a website or simply downloaded a zipfile containing multiple CSV files. Luckily, `pandas` provides Python users with an important data type you can use to work with data in an easy manner. This process of converting data into a suitable format is called **data preparation**.


### Data Cleaning

Now that your data is being handled in a proper manner, your work with it still might not be done. You might have missing values, values that need normalizing, or values in the wrong data type. These inconsistencies that you fix before analysis refers to **data cleaning**.

## Pandas

Now that we've reviewed the process in which `pandas` fits in as a Python tool, we will begin to review pandas and its different capabilities. 

Pandas allows us to deal with data in a user-friendly way by providing with an important data type, referred to as a `DataFrame`, not otherwise available in Python. With `pandas` we can effortlessly import data from files such as CSVs into a DataFrame object, allowing us to quickly apply transformations, filters, and other data wrangling methodology to our data.

To begin this tutorial, we'll need to first import `pandas`. Typically, the shorthand alias used is `pd`.

In [5]:
import pandas as pd

## Series

Before we review the DataFrame object in `pandas`, we'll begin by reviewing the `series` data type. 

In its simplest form, a Series is a one-dimensional object containing an array of data. Below, you'll see that we use the `pandas.Series()` function to define an example containing 4 numbers. Notice that the input of this method *is* a Python list.

In [6]:
l1 = [1,2,3]
print(type(l1))

<class 'list'>

In [7]:
obj = pd.Series([4, 7, -5, 3])

Series are incredibly similar to your typical list in Python, however, it **is** distinctive, which we can display by printing the data type of the series below.

In [8]:
print(type(obj))

<class 'pandas.core.series.Series'>

The reason for this distinction is because `pandas` allows us to attach our own custom indices, as shown below

In [9]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
print(obj2)

d    4
b    7
a   -5
c    3
dtype: int64

You might be thinking, "is this not the same thing as a dictionary?", a fair question for anyone beginning to learn `pandas`. Now, the useful thing is that we can, indeed, easily convert a dictionary to a series, as you can see in the code below.

In [10]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)

But notice that if the actual object is printed, as well as its type, the format is much more readable with the series object. This is incredibly useful for when a user needs to visually interact with the data.

In [11]:
print(type(sdata))

<class 'dict'>

In [12]:
print(sdata)

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [13]:
print(type(obj3))

<class 'pandas.core.series.Series'>

In [14]:
print(obj3)

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

## DataFrames

Now that we've reviewed the simplest object in `pandas`, we're ready to tackle on the DataFrame object. A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.).

There are numerous ways to construct a DataFrame, though one of the most common is from a dict of equal-length lists.

In [15]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 
        'year': [2000, 2001, 2002, 2001, 2002], 
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = pd.DataFrame(data)
print(frame)

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

To select a single column, the syntax is treated the same way you would a dictionary, with brackets inside which contains the column name. 

It's important to note that DataFrames are actually a collection of `series`, which we can see is true when we index one of the columns and print its type.

In [16]:
sel = frame['state']
print(type(sel))

<class 'pandas.core.series.Series'>

## Challenge Question

True or False: Series and Dictionaries can converted to one another with one simple function call.

## CSV Files

It was briefly mentioned earlier that one of the advantages of Python is to easily convert a CSV file to a pandas DataFrame. 

Using [this](https://s3.amazonaws.com/assets.datacamp.com/production/course_1639/datasets/world_ind_pop_data.csv) csv file, which is population data from the World Bank, we'll use pandas to convert this file to a DataFrame -- all in two lines of code.

In [40]:
file = 'https://s3.amazonaws.com/assets.datacamp.com/production/course_1639/datasets/world_ind_pop_data.csv'
df = pd.read_csv(file)

print(df)

                                          CountryName CountryCode  Year  \
0                                          Arab World         ARB  1960
1                              Caribbean small states         CSS  1960
2                      Central Europe and the Baltics         CEB  1960
3             East Asia & Pacific (all income levels)         EAS  1960
4               East Asia & Pacific (developing only)         EAP  1960
5                                           Euro area         EMU  1960
6           Europe & Central Asia (all income levels)         ECS  1960
7             Europe & Central Asia (developing only)         ECA  1960
8                                      European Union         EUU  1960
9            Fragile and conflict affected situations         FCS  1960
10             Heavily indebted poor countries (HIPC)         HPC  1960
11                                        High income         HIC  1960
12                               High income: nonOECD         NOC  1960
13                                  High income: OECD         OEC  1960
14      Latin America & Caribbean (all income levels)         LCN  1960
15        Latin America & Caribbean (developing only)         LAC  1960
16       Least developed countries: UN classification         LDC  1960
17                                Low & middle income         LMY  1960
18                                         Low income         LIC  1960
19                                Lower middle income         LMC  1960
20     Middle East & North Africa (all income levels)         MEA  1960
21       Middle East & North Africa (developing only)         MNA  1960
22                                      Middle income         MIC  1960
23                                      North America         NAC  1960
24                                       OECD members         OED  1960
25                                 Other small states         OSS  1960
26                        Pacific island small states         PSS  1960
27                                       Small states         SST  1960
28                                         South Asia         SAS  1960
29             Sub-Saharan Africa (all income levels)         SSF  1960
...                                               ...         ...   ...
13344                                          Sweden         SWE  2014
13345                                     Switzerland         CHE  2014
13346                            Syrian Arab Republic         SYR  2014
13347                                      Tajikistan         TJK  2014
13348                                        Tanzania         TZA  2014
13349                                        Thailand         THA  2014
13350                                     Timor-Leste         TMP  2014
13351                                            Togo         TGO  2014
13352                                           Tonga         TON  2014
13353                             Trinidad and Tobago         TTO  2014
13354                                         Tunisia         TUN  2014
13355                                          Turkey         TUR  2014
13356                                    Turkmenistan         TKM  2014
13357                        Turks and Caicos Islands         TCA  2014
13358                                          Tuvalu         TUV  2014
13359                                          Uganda         UGA  2014
13360                                         Ukraine         UKR  2014
13361                            United Arab Emirates         ARE  2014
13362                                  United Kingdom         GBR  2014
13363                                   United States         USA  2014
13364                                         Uruguay         URY  2014
13365                                      Uzbekistan         UZB  2014
13366                                         Vanuatu         VUT  2014
13367                                   Venezuela, RB         VEN  2014
13368                                         Vietnam         VNM  2014
13369                           Virgin Islands (U.S.)         VIR  2014
13370                              West Bank and Gaza         WBG  2014
13371                                     Yemen, Rep.         YEM  2014
13372                                          Zambia         ZMB  2014
13373                                        Zimbabwe         ZWE  2014

       Total Population  Urban population (% of total)
0          9.249590e+07                      31.285384
1          4.190810e+06                      31.597490
2          9.140158e+07                      44.507921
3          1.042475e+09                      22.471132
4          8.964930e+08                      16.917679
5          2.653965e+08                      62.096947
6          6.674890e+08                      55.378977
7          1.553174e+08                      38.066129
8          4.094985e+08                      61.212898
9          1.203546e+08                      17.891972
10         1.624912e+08                      12.236046
11         9.075975e+08                      62.680332
12         1.866767e+08                      56.107863
13         7.209208e+08                      64.285435
14         2.205642e+08                      49.284688
15         1.776822e+08                      44.863308
16         2.410728e+08                       9.616261
17         2.127373e+09                      21.272894
18         1.571884e+08                      11.498396
19         9.429116e+08                      19.810513
20         1.055126e+08                      34.951334
21         9.786942e+07                      33.875012
22         1.970185e+09                      22.053114
23         1.986244e+08                      69.918403
24         7.866482e+08                      62.480915
25         6.590560e+06                      14.337844
26         8.613780e+05                      22.043762
27         1.164275e+07                      21.120573
28         5.720361e+08                      16.735545
29         2.282688e+08                      14.631387
...                 ...                            ...
13344      9.689555e+06                      85.665000
13345      8.190229e+06                      73.844000
13346      2.215780e+07                      57.255000
13347      8.295840e+06                      26.692000
13348      5.182262e+07                      30.901000
13349      6.772598e+07                      49.174000
13350      1.212107e+06                      32.131000
13351      7.115163e+06                      39.469000
13352      1.055860e+05                      23.632000
13353      1.354483e+06                       8.550000
13354      1.099660e+07                      66.645000
13355      7.593235e+07                      72.891000
13356      5.307188e+06                      49.688000
13357      3.374000e+04                      91.847000
13358      9.893000e+03                      58.782000
13359      3.778297e+07                      15.766000
13360      4.536290e+07                      69.482000
13361      9.086139e+06                      85.266000
13362      6.451038e+07                      82.345000
13363      3.188571e+08                      81.447000
13364      3.419516e+06                      95.152000
13365      3.075770e+07                      36.278000
13366      2.588830e+05                      25.817000
13367      3.069383e+07                      88.941000
13368      9.073000e+07                      32.951000
13369      1.041700e+05                      95.203000
13370      4.294682e+06                      75.026000
13371      2.618368e+07                      34.027000
13372      1.572134e+07                      40.472000
13373      1.524586e+07                      32.501000

[13374 rows x 5 columns]

As you can see above, we used the built-in pandas function, `read_csv()` to input the file into Python. Just to confirm that the file was properly converted into a DataFrame, let's take a look at what the data type is.

In [18]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

Previously, we used the `type()` method to check the data type of our converted CSV file, but `pandas` actually provides users with an `info()` function to display a concise summary of a given DataFrame. Let's take a look at what `pandas` has to say about the World Bank dataset.

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13374 entries, 0 to 13373
Data columns (total 5 columns):
CountryName                      13374 non-null object
CountryCode                      13374 non-null object
Year                             13374 non-null int64
Total Population                 13374 non-null float64
Urban population (% of total)    13374 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 522.5+ KB

The very first line, as you can see, tells us what type it is -- awesome. Additionally, we have useful information involving the size of the data, the data types of each column, and more. This is a wonderful substitute to having to call different methods like `len()`, `type()`, etc., on our DataFrame.

Unless you opened up the link provided above, you've likely not seen what the actual data looks like. To fix that, you can utilize another crucial method of `pandas` called `head()`. As default it prints the column names and the first five rows of the DataFrame you call the method on, but if you want to adjust the number, you can feed it whatever number you'd like.

In [20]:
print(df.head())

                               CountryName CountryCode  Year  \
0                               Arab World         ARB  1960
1                   Caribbean small states         CSS  1960
2           Central Europe and the Baltics         CEB  1960
3  East Asia & Pacific (all income levels)         EAS  1960
4    East Asia & Pacific (developing only)         EAP  1960

   Total Population  Urban population (% of total)
0      9.249590e+07                      31.285384
1      4.190810e+06                      31.597490
2      9.140158e+07                      44.507921
3      1.042475e+09                      22.471132
4      8.964930e+08                      16.917679

In [21]:
df.head(2)

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,Arab World,ARB,1960,92495902.0,31.285384
1,Caribbean small states,CSS,1960,4190810.0,31.597490

On the opposite end, you can also display the last 10 rows of a given DataFrame as well, using the `tail()` method.

In [22]:
df.tail(10)

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
13364,Uruguay,URY,2014,3419516.0,95.152
13365,Uzbekistan,UZB,2014,30757700.0,36.278
13366,Vanuatu,VUT,2014,258883.0,25.817
13367,"Venezuela, RB",VEN,2014,30693827.0,88.941
13368,Vietnam,VNM,2014,90730000.0,32.951
13369,Virgin Islands (U.S.),VIR,2014,104170.0,95.203
13370,West Bank and Gaza,WBG,2014,4294682.0,75.026
13371,"Yemen, Rep.",YEM,2014,26183676.0,34.027
13372,Zambia,ZMB,2014,15721343.0,40.472
13373,Zimbabwe,ZWE,2014,15245855.0,32.501

Earlier in this tutorial, we selected a column from the DataFrame we built using a dictionary. The same can be done an **any** DataFrame, including those which began as a CSV file. With that said, we'll review an example by selecting the `Total Population` column from the World Bank dataset.

In [23]:
print(df['Total Population'].head()) # called the head function so we don't have to view the entire column

0    9.249590e+07
1    4.190810e+06
2    9.140158e+07
3    1.042475e+09
4    8.964930e+08
Name: Total Population, dtype: float64

Now that we've reviewed how to select columns from DataFrames, how do we go about selecting *rows* from a DataFrame? 

A simple way is to use the built-in `ix` function, which can take either a single parameter to select **1** row, or it can take in a range using list slicing rules you've seen in regular Python lists. 

Below we'll print 5 rows using this method:

In [41]:
print(df.ix[5:10])

                                  CountryName CountryCode  Year  \
5                                   Euro area         EMU  1960
6   Europe & Central Asia (all income levels)         ECS  1960
7     Europe & Central Asia (developing only)         ECA  1960
8                              European Union         EUU  1960
9    Fragile and conflict affected situations         FCS  1960
10     Heavily indebted poor countries (HIPC)         HPC  1960

    Total Population  Urban population (% of total)
5        265396501.0                      62.096947
6        667489033.0                      55.378977
7        155317369.0                      38.066129
8        409498462.0                      61.212898
9        120354582.0                      17.891972
10       162491185.0                      12.236046

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

### Apply

Lets's generate a random dictionary:

In [45]:
import numpy as np
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])

print(frame)

               b         d         e
Utah    1.824797  1.538739  1.277535
Ohio   -0.280938  0.933722 -0.450051
Texas  -0.015748  0.064026  0.158915
Oregon -0.591756  0.595281 -0.143778

With this, we can apply a function on a DataFrame:

In [46]:
np.abs(frame)

               b         d         e
Utah    1.824797  1.538739  1.277535
Ohio    0.280938  0.933722  0.450051
Texas   0.015748  0.064026  0.158915
Oregon  0.591756  0.595281  0.143778

We can also apply functions with the `apply()` method:

In [47]:
f = lambda x: x.max() - x.min()

print(frame.apply(f))

b    2.416554
d    1.474713
e    1.727587
dtype: float64

In [28]:
f = lambda x: np.abs(x)

frame.apply(f)

print(frame)

               b         d         e
Utah    0.866926 -0.104468 -1.201680
Ohio   -0.031610  0.008895  0.100290
Texas  -0.342475  0.341394 -2.020873
Oregon  0.666301  0.526818  0.749407

## Challenge Question 

Does the `pandas.DataFrame.apply()` function modify the original DataFrame or return a new DataFrame?

#### Sorting

To sort lexicographically by row or column index, use the sort_index method, which returns a new, sorted object:

In [29]:
frame.sort_index()

               b         d         e
Ohio   -0.031610  0.008895  0.100290
Oregon  0.666301  0.526818  0.749407
Texas  -0.342475  0.341394 -2.020873
Utah    0.866926 -0.104468 -1.201680

## Data Merging

If you encounter two different datasets that contain the same type of information, you might consider merging them for your analyses. This is yet another functionality built into `pandas`. 

Let's go through an example containing student data. `d1` contains 5 of the samples and `d2` contains 2 of them:

In [30]:
d1 = pd.read_csv("./names_original.csv")
print(d1)

  First Name  Last Name
0     Lesley    Cordero
1       Ojas      Sathe
2      Helen       Chen
3        Eli   Epperson
4      Jacob  Greenberg

In [31]:
print(type(d1))

<class 'pandas.core.frame.DataFrame'>

In [32]:
d2 = pd.read_csv("./names_add.csv")
print(d2)

  First Name Last Name
0     Martin     Perez
1      Menna   Elsayed

### Concatenation 

Instead of working with two separate datasets, it's much easier to simply merge, so we do this with the `concat()` function:

In [33]:
result = pd.concat([d1,d2])
print(result)

  First Name  Last Name
0     Lesley    Cordero
1       Ojas      Sathe
2      Helen       Chen
3        Eli   Epperson
4      Jacob  Greenberg
0     Martin      Perez
1      Menna    Elsayed

Now, you might be asking what will happen if one of the datasets has more columns than other - will they still be allowed to merge? Let's try this example with another dataset:

In [34]:
d3 = pd.read_csv("./names_extra.csv")
print(d3)

  First Name Last Name                   Major
0     Martin     Perez  Mechanical Engineering
1      Menna   Elsayed               Sociology

If we use the same `concat()` function, we get:

In [35]:
result1 = pd.concat([d1, d3])
print(result1)

  First Name  Last Name                   Major
0     Lesley    Cordero                     NaN
1       Ojas      Sathe                     NaN
2      Helen       Chen                     NaN
3        Eli   Epperson                     NaN
4      Jacob  Greenberg                     NaN
0     Martin      Perez  Mechanical Engineering
1      Menna    Elsayed               Sociology

Notice the `NaN` values - these are undefined values indicating there wasn't any data to be displayed. `pandas` will simply fill in the missing data for each sample where it's unavailable:

## Challenge Question

Does the `pandas.DataFrame.concat()` function modify a original DataFrame or return a new DataFrame?

### Merging

Now, how do we merge two datasets with differing columns? Well, let's take a look at our datasets:

In [36]:
h1 = pd.read_csv("./housing.csv")
print(h1)

          Dorm            Name
0  East Campus      Helen Chen
1     Broadway   Danielle Jing
2      Shapiro    Craig Rhodes
3         Watt  Lesley Cordero
4  East Campus    Martin Perez
5     Broadway   Menna Elsayed
6      Wallach   Will Essilfie

In [37]:
h2 = pd.read_csv("./dorms.csv")
print(h2)

          Dorm Street    Cost
0     Broadway  114th    9000
1      Shapiro  115th    9500
2         Watt  113th   10500
3  East Campus  116th  11,000
4      Wallach  114th    9500

With the `merge()` function in pandas, we can specify which column to merge on and what kind of join to specify. By default merge does an 'inner' join, but here we set it to a left join:

In [38]:
house = pd.merge(h1, h2, on="Dorm", how="left")
print(house)

          Dorm            Name Street    Cost
0  East Campus      Helen Chen  116th  11,000
1     Broadway   Danielle Jing  114th    9000
2      Shapiro    Craig Rhodes  115th    9500
3         Watt  Lesley Cordero  113th   10500
4  East Campus    Martin Perez  116th  11,000
5     Broadway   Menna Elsayed  114th    9000
6      Wallach   Will Essilfie  114th    9500

## Challenge Question

Does the `pandas.DataFrame.merge()` function modify a original DataFrame or return a new DataFrame?

## Resources

[Pandas Learning Resources](https://chatbotslife.com/pandas-learning-resources-946540ba574e) <br>
[GeoPandas Tutorial](https://www.twilio.com/blog/2017/08/geospatial-analysis-python-geojson-geopandas.html)